server:
  port: 8080

spring:
  application:
    name: FoundryApplication

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://192.168.11.41:5432/foundry_dev_db?useSSL=false}
    username: ${SPRING_DATASOURCE_USERNAME:devuser}
    password: ${SPRING_DATASOURCE_PASSWORD:devpassword}
    driver-class-name: org.postgresql.Driver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        show_sql: false

  flyway:
    enabled: true
    baselineOnMigrate: true
    locations: classpath:db/migration/public

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql: TRACE

jwt:
  secret: BkIN8PvLM5BPM7Y0VXdFEV2H7CAzAze7WWytah2NG65
  expiration: 604800000
